.splash
	.center
		.row
			= image_tag('splash-img.png')
		.row
			%button.btn.btn-default.btn-lg.toggle-gifter
				REGALAR
%section.title
	%h1
		Los Elegidos
	%p
		de los usuarios
%section
	.container
		%ul.slider
			%li.slide
				.col-md-4
					.group{:style => "border-color: #ccc"}
						.row
							.col-md-12
								.ph{:style => "background-image: asset_path(romantic.jpg)"}
									.center
										%h3 ideales para
										%h2 Romanticos
						.row
							.col-md-12
								.square{:style => "background-image: asset_path(prod05.jpg)"}
								.square{:style => "background-image: asset_path(prod06.jpg)"}
								.square
									%h1
										42
									%p
										articulos
						.row	
							.col-md-12
								%a descubrir mas
				.col-md-4
					.group{:style => "border-color: #ccc"}
						.row
							.col-md-12
								.ph{:style => "background-image: asset_path(oca2.jpg)"}
									.center
										%h3 ideales para
										%h2 Cumpleaños
						.row
							.col-md-12
								.square{:style => "background-image: asset_path(prod01.jpg)"}
								.square{:style => "background-image: asset_path(prod02.jpg)"}
								.square
									%h1
										42
									%p
										articulos
						.row	
							.col-md-12
								%a descubrir mas
				.col-md-4
					.group{:style => "border-color: #ccc"}
						.row
							.col-md-12
								.ph{:style => "background-image: asset_path(oca3.jpg)"}
									.center
										%h3 ideales para
										%h2 Niños
						.row
							.col-md-12
								.square{:style => "background-image: asset_path(prod03.jpg)"}
								.square{:style => "background-image: asset_path(prod04.jpg)"}
								.square
									%h1
										42
									%p
										articulos
						.row	
							.col-md-12

								%a descubrir mas
%section.recomendations
	.col-md-12
		.row.title
			%h1
				Recomendaciones
			%p
				de los usuarios
		.row
			.container
				%ul.slider
					%li.slide
						.col-md-4
							.group{:style => "border-color: #ccc"}
								.row
									.col-md-12
										.photo{:style => "background-image: url(prod01.jpg)"}
										.photo{:style => "background-image: url(prod02.jpg)"}
										.photo{:style => "background-image: url(prod03.jpg)"}
										.photo{:style => "background-image: url(prod04.jpg)"}
						.col-md-4
							.group{:style => "border-color: #ccc"}
								.row
									.col-md-12
										.photo{:style => "background-image: url(prod05.jpg)"}
										.photo{:style => "background-image: url(prod06.jpg)"}
										.photo{:style => "background-image: url(prod07.jpg)"}
										.photo{:style => "background-image: url(prod08.jpg)"}
						.col-md-4
							.group{:style => "border-color: #ccc"}
								.row
									.col-md-12
										.photo{:style => "background-image: url(prod01.jpg)"}
										.photo{:style => "background-image: url(prod02.jpg)"}
										.photo{:style => "background-image: url(prod03.jpg)"}
										.photo{:style => "background-image: url(prod04.jpg)"}