%section.title
	%h1 Mensaje Recibido
	%p Estaremos en contacto contigo lo antes posible

%section.detail
	.col-md-4.col-md-offset-4
		.row
			= link_to "Volver al inicio", root_path, "data-toggle" => "modal", :class => 'goback btn'