// Place all the styles related to the searches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.groups.show, .searches.show{
	.select2-container{
		padding: 2px;
		max-width: 100%;
	    min-width: 100%;
	}
	.select2-container--bootstrap .select2-selection {
		font-family: "Maven Pro"
	}
	.box.filters{
		border-bottom: 1px solid #f0f0f0;
		border-top: 1px solid #f0f0f0;
		margin-bottom: 15px;
		padding-bottom: 25px;
		padding-top: 25px;
		p{
			margin: 8px 0;
			font-size: 14px;
			color: #909090;
		}
		.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
			padding: 0;
		}
	}
	.filter{
		input{
			width: 100%;
		}
	}
	.price-select{
		input{
			float: left;
			height: 34px;
			line-height: 1.42857;
			padding: 6px 12px;
			background-color: #fff;
			border: 1px solid #ccc;
			border-radius: 4px;
			box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
			color: #555555;
			font-size: 14px;
			margin: 2px 0px;
			width: 100%;
		}
	}
	.btn-sort{
		height: 34px;
		line-height: 1.42857;
		padding: 6px 24px 6px 12px;
		background-color: #fff;
		border: 1px solid #ccc;
		border-radius: 4px;
		box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
		color: #555555;
		font-size: 14px;
		outline: 0 none;
		background-position: center right;
		background-repeat: no-repeat;
		text-decoration: none;
		margin-right: 4px;
		background-image: image-url('arrow-center.png');
		display: block;
		margin-top: 2px;
	}
	.btn-sort.current{

	}
	.btn-sort.asc{
		background-image: image-url('arrow-up.png');
	}
	.btn-sort.desc{
		background-image: image-url('arrow-down.png');
	}
	.btn-lavander{
		margin-top: 30px;
	}
	@media (min-width: 1200px){
		.filter{
			input{
				width: 95%;
			}
		}
		.price-select{
			text-align: center;
			input{
				width: 95%;
			}
		}
		.order-select{
			text-align: center;
		}
	}
}