@import url(https://fonts.googleapis.com/css?family=Maven+Pro:400,700,500);
body{
	font-family: 'Maven Pro';
	padding-bottom: 100px;
	font-size: 10px;
}
.container{
	width: 100%;
}
section{
	float: left;
	width: 100%;
}
/* Alerts */

.information{
    text-align: center;
}

/* Gifter */

.gifter, .home-gifter{
	text-align: left;
	.ms-choice > span.placeholder {
	    color: #fff;
	    text-transform: uppercase;
	}
    a{
    	color: #fff;
    	-webkit-transition: 500ms ease all;
    	transition: 500ms ease all;
    }
    .steps{
    	h1{
    		color: #fff;
    		margin: 0;
    		font-size: 2.25em;
    	}
    	h2{
    		color: #fff;
    		margin: 0;
    		font-size: 2em;
    	}
    	p{
    		font-size: 1.333em;
    	}
    	.fa{
	    	color: #fff;
	    	font-size: 80px;
	    	margin: 20px 0;
	    }
    }
    a.toggle-gifter{
		cursor: pointer;
	    font-size: 2em;
	    position: absolute;
	    right: 30px;
	    text-align: right;
	    top: 20px;
	    width: auto;
	}
    p{
    	color: #fff;
		font-size: 1.666em;
		margin-bottom: 15px;
    }
    select, button{
    	background-color: transparent;
    	border:2px solid #fff;
    	border-radius: 7px;
    	color: #fff;
    	font-size: 16px;
    	padding: 15px 30px 15px 15px;
    }
    .search-gift-box{
    	margin: 2px;
	    .search-gift{
	    	margin: 0px;
	    	width: 100%;
	    	height: 50px;
	    }
	}
	.select2-container--bootstrap .select2-selection--single {
	    height: auto;
	    line-height: 1.42857;
	    padding: 0 10px;
	    height: 50px;
	    line-height: 44px;
	    vertical-align: middle;
	}
	.select2-container{
		float: left;
		padding: 2px;
		max-width: 100%;
	    min-width: 100%;
	}
	.select2-container--bootstrap .select2-selection {
	    background-color: transparent;
	    border: 2px solid #fff;
	    border-radius: 7px;
	    box-shadow: none;
	    color: #fff;
	    font-family: "Maven Pro";
	    font-size: 16px;
	    outline: 0 none;
	    text-align: left;
	    margin-bottom: 5px;
	    text-transform: uppercase;
	}
	.select2-container--bootstrap .select2-selection--single .select2-selection__rendered {
	    color: #fff;
	    padding: 0;
	}
	.select2-container--bootstrap .select2-selection--single .select2-selection__arrow b {
	    border-color: #fff transparent transparent;
	}
	.select2-container--bootstrap.select2-container--open .select2-selection .select2-selection__arrow b {
	    border-color: transparent transparent #fff;
	}
	.select2-container--bootstrap.select2-container--open.select2-container--below .select2-selection{
		border-bottom-color: #fff;
    	border-bottom-left-radius: 7px;
    	border-bottom-right-radius: 7px;
	}
	.select2-container--bootstrap .select2-selection--single .select2-selection__placeholder{
		color: #fff;
	}
	.select2-container--open .select2-dropdown--below {
	    border-top: medium none;
	    border-top-left-radius: 7px;
	    border-top-right-radius: 7px;
	}
}
.gifter{
	background-color: rgba(44,42,82,0.99);
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: absolute;
	opacity: 0;
	-webkit-transition: 300ms ease all;
    transition: 300ms ease all;
    z-index: -2;
}
.gifter.show{
	opacity: 1;
	z-index: 1031;
	label {
	    color: #fff;
	    display: inline-block;
	    font-size: 14px;
	    font-weight: normal;
	    margin-bottom: 5px;
	    max-width: 100%;
	    text-transform: uppercase;
	}
	li label{
		color: #606060;
	}
	.box{
		text-align: left;
	}
}

/* About */

.about{
	background-color: rgba(44,42,82,0.99);
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: absolute;
	opacity: 0;
	-webkit-transition: 300ms ease all;
    transition: 300ms ease all;
    z-index: -2;
    .steps{
    	h1{
    		color: #fff;
    		margin: 0;
    		font-size: 2.25em;
    	}
    	h2{
    		color: #fff;
    		margin: 0;
    		font-size: 2em;
    	}
    	p{
    		font-size: 1.333em;
    		color: #fff;
    	}
    	.fa{
	    	color: #fff;
	    	font-size: 80px;
	    	margin: 20px 0;
	    }
    }
    a.toggle-about{
		cursor: pointer;
	    font-size: 2em;
	    position: absolute;
	    right: 30px;
	    text-align: right;
	    top: 20px;
	    width: auto;
	    color: #fff;
	}
}
.about.show{
	opacity: 1;
	z-index: 1031;
	label {
	    color: #fff;
	    display: inline-block;
	    font-size: 14px;
	    font-weight: normal;
	    margin-bottom: 5px;
	    max-width: 100%;
	    text-transform: uppercase;
	}
	.box{
		text-align: left;
	}
}

/* Nav */

.navbar{
	-webkit-transition: 300ms ease all;
    transition: 300ms ease all;
    .container{
    	width: 95%;
    }
}
.navbar-header{
}
.navbar-brand{
	margin: 10px;
    padding: 10px;
	img{
		width: 70%;
	}
}
.navbar-toggle{
	margin-top: 15px;
	padding: 10px;
	.icon-bar{
		background-color: #fff;
	}
}
.navbar-nav {
    padding: 20px 30px;
}
.navbar-nav > li > a{
	color: #fff;
	font-size: 2em;
	text-align: center;
}
.nav > li > a:hover, .nav > li > a:focus {
    background-color: transparent;
    text-decoration: none;
}
.navbar-nav > li > button {
    font-size: 2em;
    margin: 7.5px 0;
    padding: 5px 15px;
    width: 100%;
}
.dropdown-menu {
    border: 0px;
    border-radius: 7.5px;
    box-shadow: none;
    display: none;
    float: left;
    font-size: 1.333em;
    padding: 0;
    overflow: hidden;
}
.dropdown-menu > li > a {
    padding: 5px 20px;
}
.btn-default:active, .btn-default.active, .open > .btn-default.dropdown-toggle{
	background-color: #fff;
    border-color: #fff;
    color: #333;
}
.btn-default.dropdown-toggle:hover, .open > .btn-default.dropdown-toggle:focus, .open > .btn-default.dropdown-toggle.focus {
    background-color: #fff;
    border-color: #fff;
    color: #333;
}


/* Basics */

.title{
	padding:60px 0 30px 0;
	text-align: center;
	h1{
		margin: 0px;
		color: #2c2a52;
		text-transform: uppercase;
		font-size: 2.667em;
		line-height: 1;
		font-weight: 700;
	}
	p{
		color: #a3a3a3;
		font-size: 2.333em;
		line-height: 1;
		font-weight: 400;
	}
}
.title.search-error{
	h1{
		font-size: 1.75em;
		margin-bottom: 1em;
	}	
	p{
		text-align: left;
		font-size: 1.5em;
		margin-top: .5em;
	}
}
.center{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 75%;
	margin: 0;
	transform:translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%); /* IE 9 */
	-webkit-transform: translate(-50%,-50%); /* Safari */
	text-align: center;
}
.redefine{
	text-align: center;
	color: #a3a3a3;
	a{
		color: #2c2a52;
	}
}
ul.slider{
	list-style: none;
	margin:0;
	padding: 0;
	li{

	}
}
.modal-header{
	h3{
		color: #909090;
		margin: 5px 0;
	}
}

/* Buttons */

.btn{
	border-radius: 7.5px;
	border-width: 2px;
}
.btn-lg{
    padding: 10px 30px 12px;
    font-size: 16px;
}
.btn:hover, .btn:focus, .btn.focus {
    color: #2c2a52;
    text-decoration: none;
}
.btn-default {
    background-color: transparent;
    border-color: #fff;
    color: #fff;
    font-size: 1.333em;
}
.btn-default:hover {
    background-color: #fff;
    border-color: #fff;
    color: #2c2a52;
}


.btn-lavander {
    background-color: #fff;
    border-color: #2c2a52;
    color: #2c2a52;
}
.navbar-nav > li > a.btn-default, .navbar-nav button.btn-default{
	padding:5px 15px;
	margin-top: 8px;
}
.navbar-nav > li > a.btn-default:hover, , button.btn-default:hover, .navbar-nav > li > a.btn-default:focus, button.btn-default:focus, .navbar-nav > li > a.btn-default.focus, button.btn-default.focus {
    background-color: #fff;
    border-color: #fff;
    color: #2c2a52;
    text-decoration: none;
}
.btn-white {
    background-color: #fff;
    border-color: #fff;
    color: #606060;
    margin: 7.5px 0 7.5px 15px;
    line-height: 1.4;
}
.btn-white:hover {
    background-color: transparent;
    border-color: #fff;
    color: #fff;
}
.btn-white:hover, .navbar-nav > li > .btn-white:focus, .navbar-nav > li > .btn-white.focus {
    background-color: transparent;
    border-color: #fff;
    color: #fff;
    text-decoration: none;
}
.btn-lavander {
    background-color: #fff;
    border-color: #2c2a52;
    color: #2c2a52;
}
.btn-lavander:hover {
    background-color: #2c2a52;
    border-color: #2c2a52;
    color: #fff;
}
.btn-lavander:hover, .btn-lavander:focus, .btn-lavander.focus {
    background-color: #2c2a52;
    border-color: #2c2a52;
    color: #fff;
    text-decoration: none;
}

/* Groups */

.group{
	border-radius: 10px;
	overflow: hidden;
	text-align: center;
	border:1px solid #c5c6c7;
	margin-bottom: 15px;
	.ph{
		height: 190px;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		text-align: center;
		color: #fff;
		position: relative;
		h3{
			margin: 0;
			font-weight: 400;
			font-size: 1.750em;
		}
		h2{
			margin: 0;
			font-weight: 700;
			text-transform: uppercase;
			font-size: 2.333em;
		}
	}
	.square{
		border:1px solid #c5c6c7;
		width: 100%;
		height: 85px;
		border-radius: 10px;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		margin: 15px 0;
		float: left;
		position: relative;
		overflow: hidden;
		h1{
			margin-bottom: 0px;
			margin-top: 15px;
			line-height: 1;
		}
		p{
			line-height: 1;
			text-transform: uppercase;
			font-size: 0.833em;
		}
		.over{
			background-color: rgba(44,42,82,0.9);
			position: absolute;
			width: 100%;
			height: 100%;
			opacity: 0;
			-webkit-transition: 300ms ease all;
    		transition: 300ms ease all;
    		background-image: image-url('viewmore.png');
    		background-position: center center;
    		background-repeat: no-repeat;
    		background-size: 35%;
		}
	}
	.square:hover{
		.over{
			opacity: 1;
		}
	}
	.item:nth-child(1){
		padding-right: 7.5px;
	}
	.item:nth-child(2){
		padding-left: 7.5px;
		padding-right: 7.5px;
	}
	.item:nth-child(3){
		padding-left: 7.5px;
	}
	.photo{
		padding:0;
		margin:0;
		width: 100%;
		height: 150.5px;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		position: relative;
		.over{
			background-color: rgba(44,42,82,0.9);
			position: absolute;
			width: 100%;
			height: 100%;
			opacity: 0;
			-webkit-transition: 300ms ease all;
    		transition: 300ms ease all;
    		background-image: image-url('viewmore.png');
    		background-position: center center;
    		background-repeat: no-repeat;
		}
	}
	.photo:hover{
		.over{
			opacity: 1;
		}
	}
	a.discover{
		text-transform: uppercase;
		padding-bottom: 15px;
		display: block;
		font-size: 1.500em;
		float: none;
	}
}
.recomendations{
	background-color: #f9f9f9;
	padding: 0px 0 60px 0;
	margin-top: 60px;
}

/* Footer */

.footer{
	margin-top: 60px;
	background-color: #2c2a52;
	padding: 60px 0;
	a{
		color: #fff;
		font-size: 1.333em;
		margin-right: 5px;
		margin-top: 10px;
		display: inline-block;
	}
	button{
		margin: 0;
	}
}


/* 04. BXSlider */

.bx-prev{
    width: 31px;
    height: 31px;
    border:1px solid #c0c0c0;
    color: #c0c0c0;
    border-radius: 50%;
    display: block;
    text-align: center;
    padding: 4px;
    line-height: 1.1;
}
.bx-next{
    width: 31px;
    height: 31px;
    border:1px solid #ccc;
    color: #ccc;
    border-radius: 50%;
    display: block;
    text-align: center;
    padding: 4px;
    line-height: 1.1;
}
.bx-prev:hover, .bx-next:hover {
    border:2px solid #ccc;
    text-decoration: none;
    color: #c0c0c0;
    padding: 3px;
}
.bx-prev:focus, .bx-next:focus {
    border:1px solid #ccc;
    text-decoration: none;
    color: #c0c0c0;
    padding: 4px;
}
.bx-wrapper .bx-controls-direction a{
    line-height: 1.1;
}
.bx-wrapper{
    margin: 0;
}
.bx-wrapper .bx-viewport {
    background: transparent;
    border: none;
    box-shadow: none;
    left: 0px;
}
.bx-wrapper ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto{
    bottom: 3em;
}
.bx-wrapper .bx-controls-direction a {
    z-index: 1000;
    height: 31px;
    width: 31px;
    margin-top: -15.5px;
    text-indent: inherit;
    color: #fff;
    border-color: #fff;
}
.bx-wrapper .bx-prev {
    background: transparent;
    left: 3em;
}
.bx-wrapper .bx-next {
    background: transparent;
    right: 3em;
}
.bx-wrapper .bx-pager.bx-default-pager a {
    background: transparent;
    border:1px solid #fff;
    border-radius: 5px;
    display: block;
    height: 10px;
    margin: 0 5px;
    outline: 0 none;
    text-indent: -9999px;
    width: 10px;
}
.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active {
    background: #fff;
}
