%section.title
	%h1
		Resultado de la busqueda
	%p
		Las recomendaciones de PG
%section
	.container
		.row
			.col-md-3
				.square{:style => "background-image: image-url('prod01.jpg')"}
					.over
			.col-md-3
				.square{:style => "background-image: image-url('prod02.jpg')"}
					.over
			.col-md-3
				.square{:style => "background-image: image-url('prod03.jpg')"}
					.over
			.col-md-3
				.square{:style => "background-image: image-url('prod04.jpg')"}
					.over
			.col-md-3
				.square{:style => "background-image: image-url('prod05.jpg')"}
					.over
			.col-md-3
				.square{:style => "background-image: image-url('prod06.jpg')"}
					.over
			.col-md-3
				.square{:style => "background-image: image-url('prod07.jpg')"}
					.over
			.col-md-3
				.square{:style => "background-image: image-url('prod08.jpg')"}
					.over
			.col-md-3
				.square{:style => "background-image: image-url('prod01.jpg')"}
					.over
			.col-md-3
				.square{:style => "background-image: image-url('prod02.jpg')"}
					.over
			.col-md-3
				.square{:style => "background-image: image-url('prod03.jpg')"}
					.over
			.col-md-3
				.square{:style => "background-image: image-url('prod04.jpg')"}
					.over
			.col-md-3
				.square{:style => "background-image: image-url('prod05.jpg')"}
					.over
			.col-md-3
				.square{:style => "background-image: image-url('prod06.jpg')"}
					.over
			.col-md-3
				.square{:style => "background-image: image-url('prod07.jpg')"}
					.over
			.col-md-3
				.square{:style => "background-image: image-url('prod08.jpg')"}
					.over


