%section.title
	%h1
		Resultado de la busqueda
	%p
		Las recomendaciones de PG
%section
	.container
		.row
			- @products.each do |product|
				.col-xs-6.col-md-3
					= link_to(product_path(product)) do
						- if product.images.empty?
							.square{:style => "background-image: url(image-not-available.jpg)"}
								.over
						- else
							- product.images.each do |image|
								- if image.cover == true
									.square{:style => "background-image: url(#{image.file.url(:large)})"}
										.over