%section.title
	%h1
		Resultado de la busqueda
	%p
		Las recomendaciones de PG
%section
	.container
		.row
			.col-md-3
				.square{:style => "background-image: url(assets/prod01.jpg)"}
					.over
			.col-md-3
				.square{:style => "background-image: url(assets/prod02.jpg)"}
					.over
			.col-md-3
				.square{:style => "background-image: url(assets/prod03.jpg)"}
					.over
			.col-md-3
				.square{:style => "background-image: url(assets/prod04.jpg)"}
					.over
			.col-md-3
				.square{:style => "background-image: url(assets/prod05.jpg)"}
					.over
			.col-md-3
				.square{:style => "background-image: url(assets/prod06.jpg)"}
					.over
			.col-md-3
				.square{:style => "background-image: url(assets/prod07.jpg)"}
					.over
			.col-md-3
				.square{:style => "background-image: url(assets/prod08.jpg)"}
					.over
			.col-md-3
				.square{:style => "background-image: url(assets/prod01.jpg)"}
					.over
			.col-md-3
				.square{:style => "background-image: url(assets/prod02.jpg)"}
					.over
			.col-md-3
				.square{:style => "background-image: url(assets/prod03.jpg)"}
					.over
			.col-md-3
				.square{:style => "background-image: url(assets/prod04.jpg)"}
					.over
			.col-md-3
				.square{:style => "background-image: url(assets/prod05.jpg)"}
					.over
			.col-md-3
				.square{:style => "background-image: url(assets/prod06.jpg)"}
					.over
			.col-md-3
				.square{:style => "background-image: url(assets/prod07.jpg)"}
					.over
			.col-md-3
				.square{:style => "background-image: url(assets/prod08.jpg)"}
					.over


