%section.title
	%h1
		Resultado de la busqueda
	%p
		Las recomendaciones de PG
%section
	.container
		.row
			.col-md-3
				.square{:style => "background-image: asset_path(prod01.jpg)"}
					.over
			.col-md-3
				.square{:style => "background-image: asset_path(prod02.jpg)"}
					.over
			.col-md-3
				.square{:style => "background-image: asset_path(prod03.jpg)"}
					.over
			.col-md-3
				.square{:style => "background-image: asset_path(prod04.jpg)"}
					.over
			.col-md-3
				.square{:style => "background-image: asset_path(prod05.jpg)"}
					.over
			.col-md-3
				.square{:style => "background-image: asset_path(prod06.jpg)"}
					.over
			.col-md-3
				.square{:style => "background-image: asset_path(prod07.jpg)"}
					.over
			.col-md-3
				.square{:style => "background-image: asset_path(prod08.jpg)"}
					.over
			.col-md-3
				.square{:style => "background-image: asset_path(prod01.jpg)"}
					.over
			.col-md-3
				.square{:style => "background-image: asset_path(prod02.jpg)"}
					.over
			.col-md-3
				.square{:style => "background-image: asset_path(prod03.jpg)"}
					.over
			.col-md-3
				.square{:style => "background-image: asset_path(prod04.jpg)"}
					.over
			.col-md-3
				.square{:style => "background-image: asset_path(prod05.jpg)"}
					.over
			.col-md-3
				.square{:style => "background-image: asset_path(prod06.jpg)"}
					.over
			.col-md-3
				.square{:style => "background-image: asset_path(prod07.jpg)"}
					.over
			.col-md-3
				.square{:style => "background-image: asset_path(prod08.jpg)"}
					.over


